.bigmain{ min-width:1280px}
.container{ width:970px;}
footer{ min-width:1280px}
.navbar-toggle{ display:none}
.menu li a{ padding:12px}
.ipt-s{ font-size:11px; line-height:16px; height:30px;}
.btn-search{ font-size:11px;height:30px;}